.container {
    .element {
        position: relative;
        padding-top: 1.8vw;
        .element__projectNumber {
            border-bottom: 1px solid black;
        }
        .element__text {
            cursor: pointer;
            font-size: 2vw;
            h1 {
                margin: 0;
                padding-top: 1vw;

                &:hover {
                    -webkit-text-fill-color: white;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                }
            }
        }

        .floating-image {
            pointer-events: none;
            width: 24rem;
            position: absolute;
            z-index: 99;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
