.container-contact {
    width: 100% !important;
    height: 100vh !important;
    background-color: #f1f1f1;
    margin: 0 auto;
    display: flex;

    .left-panel {
        flex: 1 1 50%;
        margin: auto;

        .header-panel {
            display: flex;
            padding-left: 7vw;
            .upper-part {
                margin: auto;

                .collaborate {
                    font-size: 5.5vw;
                }
                .email-part {
                    font-size: 2.2vw;
                    opacity: 0.6;
                }
            }
        }
        .contact-panel {
            display: flex;
            padding-top: 5vw;
            padding-left: 3.5vw;

            p {
                font-size: 1.4vw;
                margin: 0 auto;
            }
        }
    }
    .right-panel {
        flex: 2 1 50%;
        margin: auto;

        .dog-pic {
            margin: auto;
            width: 450px;
            height: 80vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
